<!DOCTYPE html>
<html>
    <h3>Welcome to AirBnB Predictor!</h3>
    <br>
    <div id="main">
        <p>
            It can be a fine art trying to decide what to set as the price for your AirBnB listing.
            You want to set a price high enough to return you some profit but not too high to send people to your competition.
            This is a problem facing a lot of local mom-and-pop listers. At AirBnB Predictor, our model finds the optimal price for you, allowing you to focus your efforts elsewhere.
            Some of our features:
        </p>
        <ul>
            <li>Calculates optimal price for different properties in most major cities</li>
            <li>Save multiple properties and see them in my listings</li>
            <li>Made a mistake or changed a feature? Customize saved features and see how it affects optimal price with Adjust Settings</li>
        </ul>
        <p>
            Give us a try today and let us help you create your best listing!
        </p>
    </div>
</html>