<!DOCTYPE html>
<html>
  <head>
    <title>AirBnB Predictor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <style>
      .myCoolButton {
    background: #85144b;
    }
  </style>
  <body>
    <nav>
      <a href="/" class="brand"><span>AirBnB Predictor</span></a>

      <div class="menu">
        <a href = "/listings">My listings</a>
        <a href = "/about">About</a>
        <a href='/new_listing' class="button">+ New listing</a>
        <a href="/reset" class="button">Reset DB</a>
      </div>
    </nav>
    <br><br>
    {% block content %}
    <h2 style="text-align: center;">Airbnb Predictor!</h2>
    <p style="text-align: center;">Note that this will alter {{ listing_name}}'s features. To create a separate listing, click on New Listing.</p>
    <hr>
    <form action="/add_listing", methods="post">
    <div class = "flex three grow demo" style="background-color: beige;">
        <label><span>Name of listing</span>
          <input type="text" name="listing_name" value="{{ listing_name }}" readonly>
        </label>
        <label for="city"><span>City</span>
          <select name="city" id="city">
            {% for each_city in all_cities %}
            {% if listing.city == each_city %}
            <option value="{{ listing.city }}" selected>{{ listing.city }}</option>
            {% else %}
            <option value="{{ each_city}}">{{ each_city}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </label>
        <label><span>Zipcode</span>
          <input type="text" name="zipcode" value="{{ listing.zipcode }}">
        </label>
        <label><span>Description of listing</span>
          <input type="text">
        </label>
        <label><span>Amenities</span><input type="text" placeholder="Cable TV, family friendly, washer, dryer, etc."></label>
        <label><span>Room type</span>
            <select>
                <option>Entire home/apt</option>
                <option>Private room</option>
                <option>Shared Room</option>
              </select>
        </label>
        <label><span>Number of bathrooms</span><input type="text"></label>
        <label><span>Number of bedrooms</span><input type="text"></label>
        <label><span>Number of beds</span><input type="text"></label>
        <label><span>How many people does your listing accomodate?</span><input type="text"></label>
        <label><span>Do you charge a cleaning fee?</span>
            <select>
                <option>Yes</option>
                <option>No</option>
              </select>
        </label>
        <label><span>Are you a verified host?</span>
            <select>
                <option>Yes</option>
                <option>No</option>
              </select>
        </label>
        <label><span>What was the date of this listing's first review?</span><input type="text" placeholder = "YYYY-MM-DD"></label>
        <label><span>What was the date of this listing's most recent review?</span><input type="text" placeholder = "YYYY-MM-DD"></label>
        <label><span>When did you first become a host?</span><input type="text" placeholder = "YYYY-MM-DD"></label>
        <label><span>Is this listing instant bookable?</span>
            <select>
                <option>Yes</option>
                <option>No</option>
              </select>
        </label>
        <label><span>How many reviews does this listing have?</span><input type="text"></label>
        <label><span>What is your review score rating?</span><input type="text"></label>
      </div>
      <hr>
      <div style="text-align: center;">
        <input name="update_listing_button" type="submit" value="Update listing" style="background-color: #85144b;">
        <p style="color:rgb(105, 204, 105) ;">{{ add_listing_status_message }}</p>
    </div>
    </form>

  <div style="text-align: center;">
    <a href="/predict" class="button" style="background-color: #85144b;">Predict rate</a>
  </div>
  <br>

  <div style="text-align: center;">
    <h>{{ predict_message }}</h>
  </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  {% endblock %}
  </body>
</html>
