<!DOCTYPE html>
<html>
  <head>
    <title>AirBnB Predictor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <style>
      .myCoolButton {
    background: #85144b;
    }
  </style>
  <body>
    <nav>
      <a href="/" class="brand"><span><img src="{{url_for('static', filename='airbnb_logo.png')}}" width="100" height="100"/></span></a>

      <div class="menu">
        <a href = "/listings">My listings</a>
        <a href = "/about">About</a>
        <a href='/new_listing' class="button">+ New listing</a>
        <a href="/reset" class="button">Reset DB</a>
      </div>
    </nav>
    <br><br>
    {% block content %}
    <div style="text-align: center;"><img src="{{url_for('static', filename='airbnb_logo.png')}}"/></div>
    <p style="text-align: center;">Enter some information about the property you have listed or would like to list, and we'll tell you the optimal rate to charge.</p>
    <hr>
    <form action="/add_listing", methods="post">
    <div class = "flex three grow demo" style="background-color: beige;">
        <label><span>Name of listing</span>
          <input type="text" name="listing_name" value="{{ listing_name }}">
        </label>
        <label><span>City</span>
            <select name="city">
            <option value="New York City">New York City</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Washington DC">Washington DC</option>
            <option value="Chicago">Chicago</option>
          </select>
        </label>
        <label><span>Zipcode</span>
          <input type="text" name="zipcode" value={{zipcode}}>
        </label>
        <label><span>Description of listing</span>
          <input type="text" name="description">
        </label>
        <label><span>Amenities</span>
          <input type="text" placeholder="Cable TV, family friendly, washer, dryer, etc." name="amenities">
        </label>
        <label><span>Property type</span>
          <select name="property_type">
            <option value="Apartment">Apartment</option>
            <option value="House">House</option>
            <option value="Condominium">Condominium</option>
            <option value="Loft">Loft</option>
          </select>
        </label>
        <label><span>Room type</span>
            <select name="room_type">
              <option value="Entire home/apt">Entire home/apt</option>
              <option value="Private room">Private room</option>
              <option value="Shared Room">Shared Room</option>
            </select>
          </label>
        <label><span>Number of bathrooms</span>
          <input type="text" name="bathrooms">
        </label>
        <label><span>Number of bedrooms</span>
          <input type="text" name="bedrooms">
        </label>
        <label><span>Number of beds</span>
          <input type="text" name="beds">
        </label>
        <label><span>What type of bed do you have?</span>
          <select name="bed_type">
              <option value="Real bed">Real bed</option>
              <option value="Futon">Futon</option>
              <option value="Pull out sofa">Pull out sofa</option>
              <option value="Airbed">Airbed</option>
              <option value="Couch">Couch</option>
            </select>
      </label>
        <label><span>How many people does your listing accommodate?</span>
          <input type="text" name="accommodates">
        </label>
        <label><span>Do you charge a cleaning fee?</span>
            <select name="cleaning_fee">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
        </label>
        <label><span>Do you have a profile picture?</span>
          <select name="host_has_profile_pic">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
      </label>
        <label><span>Are you a verified host?</span>
            <select name="host_identity_verified">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
        </label>
        <label><span>Is this listing instant bookable?</span>
            <select name="instant_bookable">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
        </label>
        <label><span>How many reviews does this listing have?</span>
          <input type="text" name="number_of_reviews">
        </label>
        <label><span>How would you characterize your cancellation policy?</span>
          <select name="cancellation_policy">
              <option value="Strict">Strict</option>
              <option value="Flexible">Flexible</option>
              <option value="Moderate">Moderate</option>
              <option value="Super strict">Super strict</option>
            </select>
      </label>

      </div>
      <hr>
      <div style="text-align: center;">
        <input name="add_listing_button" type="submit" value="Add listing" style="background-color: #85144b;">
        <p style="color:rgb(105, 204, 105) ;">{{ add_listing_status_message }}</p>
    </div>
    </form>

  <div style="text-align: center;">
    <a href="/predict" class="button" style="background-color: #85144b;">Predict rate</a>
  </div>
  <br>

  <div style="text-align: center;">
    <h>{{ predict_message }}</h>
  </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  {% endblock %}
  </body>
</html>
