
<!DOCTYPE html>
<html>
  <head>
    <title>AirBnB Predictor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>AirBnB_Predictor</span></a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>

      <div class="menu">
        <a href = "/listings" class="warning">My listings</a>
        <a href = "/about" class="button">About</a>
      </div>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <h1>Welcome to AirBnB Predictor!</h1>
      <h>Enter your listing information below.</h>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html>
