{% extends "test.html" %}

{% block content %}
<br>
<form action="/adjust_listing/{{ listing.listing_name }}">
    <table class="primary">
        <thead>
            <tr>
                <th style="background-color: #85144b;">Features</th>
                <th style="background-color: #85144b;">Feature(s) Selected</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ listing_name }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ listing.city }}</td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td>{{ listing.zipcode }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ listing.description }}</td>
            </tr>
            <tr>
                <td>Amenities</td>
                <td>{{ listing.amenities }}</td>
            </tr>
            <tr>
                <td>Property Type</td>
                <td>{{ listing.property_type }}</td>
            </tr>
            <tr>
                <td>Room Type</td>
                <td>{{ listing.room_type }}</td>
            </tr>
            <tr>
                <td>Number of bathrooms</td>
                <td>{{ listing.bathrooms }}</td>
            </tr>
            <tr>
                <td>Number of bedrooms</td>
                <td>{{ listing.bedrooms }}</td>
            </tr>
            <tr>
                <td>Number of beds</td>
                <td>{{ listing.beds }}</td>
            </tr>
            <tr>
                <td>Type of bed</td>
                <td>{{ listing.bed_type }}</td>
            </tr>
            <tr>
                <td>Max Occupants</td>
                <td>{{ listing.accommodates }}</td>
            </tr>
            <tr>
                <td>Cleaning Fee?</td>
                <td>{{ listing.cleaning_fee }}</td>
            </tr>
            <tr>
                <td>Profile picture?</td>
                <td>{{ listing.host_has_profile_pic }}</td>
            </tr>
            <tr>
                <td>Verified host?</td>
                <td>{{ listing.host_identity_verified }}</td>
            </tr>
            <tr>
                <td>Instant Bookable?</td>
                <td>{{ listing.instant_bookable }}</td>
            </tr>
            <tr>
                <td>Number of reviews</td>
                <td>{{ listing.number_of_reviews }}</td>
            </tr>
            <tr>
                <td>Cancellation Policy</td>
                <td>{{ listing.cancellation_policy }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <input name="adjust_settings_button" type="submit" value="Adjust settings" style="background-color: #85144b;">
    <input name="delete_listing_button" type="submit" value="Delete Listing" formaction="/delete_listing/{{ listing.listing_name }}" style="background-color: #85144b;">
</form>
{% endblock %}