<!DOCTYPE html>
<html>
  <head>
    <title>AirBnB Predictor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <style>
      .myCoolButton {
    background: #85144b;
    }
      .form-color {
        background-color: #d4abb4fb;
      }
      h2 {
        font-family: monospace;
      }
  </style>
  <body>
    <nav>
      <a href="/" class="brand"><span>AirBnB_Predictor</span></a>

      <div class="menu">
        <a href = "/listings">My listings</a>
        <a href = "/about">About</a>
        <button>+ New listing</button>
      </div>
    </nav>
    <br><br>
    {% block content %}
    <h2 style="text-align: center;">Airbnb Predictor!</h2>
    <p style="text-align: center;">Enter some information about the property you have listed or would like to list, and we'll tell you the optimal rate to charge.</p>
    <hr>
    <div class = "flex three grow demo, form-color">
      <form action="/add" method="post">
        <label><span>Name of listing</span><input type="text" name="listing_name" required></label>
        <label for="city"><span>City</span>
            <select name="city" id="city"> 
            <option value="NYC">New York City</option>
            <option value="LA">Los Angeles</option>
            <option value ="DC">Washington DC</option>
            <option value="Chicago">Chicago</option>
          </select>
        </label>
        <label><span>Zipcode</span><input type="text" name="listing_zipcode"></label>
        <label><span>Description of listing</span><input type="text" name="listing_description"></label>
        <label><span>Amenities</span><input type="text" name= "listing_amenities" placeholder="Cable TV, family friendly, washer, dryer, etc."></label>
        <!--
        <label><span>Room type</span>
            <select>
                <option>Entire home/apt</option>
                <option>Private room</option>
                <option>Shared Room</option>
              </select>
        </label>
        <label><span>Number of bathrooms</span><input type="text"></label>
        <label><span>Number of bedrooms</span><input type="text"></label>
        <label><span>Number of beds</span><input type="text"></label>
        <label><span>How many people does your listing accomodate?</span><input type="text"></label>
        <label for="cleaning"><span>Do you charge a cleaning fee?</span>
          <input id="cleaning" type = "checkbox" name="cleaning" value="yes">Yes
        </label>
        <label>
          <input id="cleaning" type = "checkbox" name="cleaning" value="no">No
        </label>
        <label><span>Are you a verified host?</span>
            <select>
                <option>Yes</option>
                <option>No</option>
              </select>
        </label>
        <label><span>What was the date of this listing's first review?</span><input type="text" placeholder = "YYYY-MM-DD"></label>
        <label><span>What was the date of this listing's most recent review?</span><input type="text" placeholder = "YYYY-MM-DD"></label>
        <label><span>When did you first become a host?</span><input type="text" placeholder = "YYYY-MM-DD"></label>
        <label><span>Is this listing instant bookable?</span>
            <select>
                <option>Yes</option>
                <option>No</option>
              </select>
        </label>
        <label><span>How many reviews does this listing have?</span><input type="text"></label>
        <label><span>What is your review score rating?</span><input type="text"></label>-->
        <button type="submit">Add listing</button>
      </form>
    </div>
    <hr>
    {% endblock %}
    <!--
    <form action="/button">
        <div style="text-align: center;">
            <button class="myCoolButton">Add listing</button>
        </div>
    </form>
    -->
    
   
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html>
